[user]
	name = Willem Ave
	email = willem.ave@gmail.com
[push]
	config = default
	default = current
[diff]
	renames = true
	indentHeuristic = on
[status]
	showUntrackedFiles = all
[branch]
	autosetupmerge = true
[merge]
	summary = true
	conflictstyle = diff3
[rebase]
	autosquash = true
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[core]
	excludesfile = ~/.gitignore
[rerere]
	enabled = 1
[pull]
	rebase = true
[include]
	path = ~/.gitconfig_local
	path = ~/.gitconfig_alias
